@mixin flex-align-content {
  &-flex-start {
    align-content: flex-start;
  }

  &-flex-end {
    align-content: flex-end;
  }

  &-start {
    align-content: start;
  }

  &-end {
    align-content: end;
  }

  &-stretch {
    align-content: stretch;
  }

  &-first-baseline {
    align-content: first baseline;
  }

  &-baseline {
    align-content: baseline;
  }

  &-last-baseline {
    align-content: last baseline;
  }

  &-center {
    align-content: center;
  }

  &-space-between {
    align-content: space-between;
  }

  &-space-around {
    align-content: space-around;
  }

  &-space-evenly-baseline {
    align-content: space-evenly-baseline;
  }
}
