@import '_flex-box';

@mixin flex-direction {
  &-row {
    flex-direction: row;
    @include flexbox();
  }

  &-row-reverse {
    flex-direction: row-reverse;
    @include flexbox();
  }

  &-column {
    flex-direction: column;
    @include flexbox();
  }

  &-column-reverse {
    flex-direction: column-reverse;
    @include flexbox();
  }
}
