@import '_flex-direction', '_flex-wrap';

.layout {
  @include flex-direction;

  &-item {
    flex: 1 1 100%;
  }

  &-left {
    place-content: flex-start;
  }

  &-right {
    place-content: flex-end;
  }

  &-center {
    place-content: center;
  }

  &-width {
    $i: 1;
    @while $i <= 10 {
      $widthValue: $i * 10;
      &-#{$i}0 {
        max-width: $widthValue + 0%;
      }
      $i: $i + 1;
    }
  }
}
