<div class="uni-ic uni-ic__loading" *ngIf="loading">
  <img src="assets/loading.gif" />
</div>

<ng-container *ngIf="!loading">
  <div class="uni-ic uni-ic__theme-background" *ngIf="!loading">
    <div
      class="uni-ic__header-container"
      *ngIf="uniswapDappSharedLogic.supportedNetwork"
    >
      <div class="uni-ic__header-content">
        <div class="uni-ic__header-content-title">Swap</div>
        <div class="uni-ic__header-content-settings">
          <button
            class="uni-ic__header-content-settings-button"
            (click)="toggleSettings()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="sc-gbOuXE daxFHC"
            >
              <circle _ngcontent-exx-c45="" cx="12" cy="12" r="3"></circle>
              <path
                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
              ></path>
            </svg>
          </button>

          <span
            class="uni-ic__settings-container uni-ic-hidden uni-ic__theme-panel"
            ><div class="uni-ic__settings" style="padding: 1rem">
              <div class="uni-ic__settings-transaction-title">
                Transaction Settings
              </div>
              <div class="uni-ic__settings-transaction">
                <div class="uni-ic__settings-transaction-slippage-container">
                  <div class="uni-ic__settings-transaction-slippage">
                    <div class="uni-ic__settings-transaction-slippage-title">
                      Slippage tolerance
                    </div>
                    <span style="margin-left: 4px"
                      ><div style="display: inline">
                        <div class="uni-ic__settings-transaction-slippage-info">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <circle cx="12" cy="12" r="10"></circle>
                            <path
                              d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path>
                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                          </svg>
                        </div></div
                    ></span>
                  </div>
                  <div class="uni-ic__settings-transaction-slippage-options">
                    <button
                      class="uni-ic__settings-transaction-slippage-option"
                      (click)="uniswapDappSharedLogic.setSlippage(0.1)"
                      [ngClass]="{
                        selected:
                          uniswapDappSharedLogic.uniswapPairSettings
                            .slippage === 0.001
                      }"
                    >
                      0.1%</button
                    ><button
                      class="uni-ic__settings-transaction-slippage-option"
                      (click)="uniswapDappSharedLogic.setSlippage(0.5)"
                      [ngClass]="{
                        selected:
                          uniswapDappSharedLogic.uniswapPairSettings
                            .slippage === 0.005
                      }"
                    >
                      0.5%</button
                    ><button
                      class="uni-ic__settings-transaction-slippage-option"
                      (click)="uniswapDappSharedLogic.setSlippage(1)"
                      [ngClass]="{
                        selected:
                          uniswapDappSharedLogic.uniswapPairSettings
                            .slippage === 0.01
                      }"
                    >
                      1%</button
                    ><button
                      tabindex="-1"
                      class="uni-ic__settings-transaction-slippage-manual"
                      [ngClass]="{
                        selected:
                          uniswapDappSharedLogic.uniswapPairSettings
                            .slippage !== 0.01 &&
                          uniswapDappSharedLogic.uniswapPairSettings
                            .slippage !== 0.005 &&
                          uniswapDappSharedLogic.uniswapPairSettings
                            .slippage !== 0.001
                      }"
                    >
                      <div
                        class="
                          uni-ic__settings-transaction-slippage-manual-content
                        "
                      >
                        <input
                          placeholder="custom"
                          class="
                            uni-ic__settings-transaction-slippage-manual-input
                          "
                          [ngModel]="slippageCustom"
                          (ngModelChange)="
                            uniswapDappSharedLogic.setSlippage($event)
                          "
                        />%
                      </div>
                    </button>
                  </div>
                  <div class="uni-ic__settings-transaction-slippage-warning">
                    <span
                      *ngIf="
                        uniswapDappSharedLogic.uniswapPairSettings.slippage >
                        0.01
                      "
                      >Your transaction may be frontrun</span
                    >
                    <span
                      *ngIf="
                        0.0005 >
                        uniswapDappSharedLogic.uniswapPairSettings.slippage
                      "
                      >Your transaction may fail</span
                    >
                  </div>
                </div>
                <div class="uni-ic__settings-transaction-deadline-container">
                  <div class="uni-ic__settings-transaction-deadline">
                    <div class="uni-ic__settings-transaction-deadline-title">
                      Transaction deadline
                    </div>
                    <span style="margin-left: 4px"
                      ><div style="display: inline">
                        <div class="uni-ic__settings-transaction-deadline-info">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <circle cx="12" cy="12" r="10"></circle>
                            <path
                              d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"
                            ></path>
                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                          </svg>
                        </div></div
                    ></span>
                  </div>
                  <div class="uni-ic__settings-transaction-deadline-minute">
                    <button
                      tabindex="-1"
                      class="
                        uni-ic__settings-transaction-deadline-minute-button
                      "
                      style="width: 80px"
                    >
                      <input
                        placeholder="20"
                        class="
                          uni-ic__settings-transaction-deadline-minute-input
                        "
                        [ngModel]="transactionDeadline"
                        (ngModelChange)="
                          uniswapDappSharedLogic.setTransactionDeadline($event)
                        "
                      />
                    </button>
                    <div
                      class="uni-ic__settings-transaction-deadline-minute-label"
                      style="padding-left: 8px"
                    >
                      minutes
                    </div>
                  </div>
                </div>
              </div>
              <div class="uni-ic__settings-interface-header">
                Interface Settings
              </div>
              <div class="uni-ic__settings-interface-multihops-container">
                <div
                  class="uni-ic__settings-interface-multihops-text-container"
                >
                  <div class="uni-ic__settings-interface-multihops-text">
                    Disable Multihops
                  </div>
                  <span style="margin-left: 4px"
                    ><div style="display: inline-block">
                      <div
                        class="uni-ic__settings-interface-multihops-text-info"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <circle cx="12" cy="12" r="10"></circle>
                          <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                          <line x1="12" y1="17" x2="12.01" y2="17"></line>
                        </svg>
                      </div></div
                  ></span>
                </div>
                <button class="uni-ic__settings-interface-multihops-actions">
                  <span
                    class="uni-ic__settings-interface-multihops-actions-on"
                    (click)="uniswapDappSharedLogic.setDisableMultihops(true)"
                    [ngClass]="{
                      selected:
                        uniswapDappSharedLogic.uniswapPairSettings
                          .disableMultihops
                    }"
                    >On</span
                  ><span
                    class="uni-ic__settings-interface-multihops-actions-off"
                    [ngClass]="{
                      selected:
                        !uniswapDappSharedLogic.uniswapPairSettings
                          .disableMultihops
                    }"
                    (click)="uniswapDappSharedLogic.setDisableMultihops(false)"
                    >Off</span
                  >
                </button>
              </div>
            </div></span
          >
        </div>
      </div>
    </div>

    <div
      class="uni-ic__swap-container"
      *ngIf="uniswapDappSharedLogic.supportedNetwork"
    >
      <div class="uni-ic__swap-content">
        <div class="uni-ic__swap-input-container">
          <div class="uni-ic__swap-input-content uni-ic__theme-panel">
            <div class="uni-ic__swap-input-content-main">
              <!-- <button
              class="uni-ic__swap-input-content-main-from-max"
              (click)="maxSwap()"
            >
              MAX</button> -->
              <button
                class="
                  uni-ic__swap-input-content-main-from-currency-container
                  uni-ic__theme-panel
                "
                (click)="openTokenSelectorFrom()"
              >
                <span class="uni-ic__swap-input-content-main-from-currency"
                  ><img
                    [src]="
                      uniswapDappSharedLogic.getTokenImageUrl(
                        uniswapDappSharedLogic.inputToken.contractAddress
                      )
                    "
                    onError="this.src='assets/unknown.svg'"
                    class="uni-ic__swap-input-content-main-from-currency-icon"
                  /><span
                    class="uni-ic__swap-input-content-main-from-currency-symbol"
                    >{{ uniswapDappSharedLogic.inputToken.symbol }}</span
                  ><svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    class="uni-ic__swap-input-content-main-from-currency-choose"
                  >
                    <path
                      d="M0.97168 1L6.20532 6L11.439 1"
                      stroke="#AEAEAE"
                    ></path>
                  </svg>
                </span>
              </button>
              <input
                class="uni-ic__swap-input-content-main-from uni-ic__theme-panel"
                inputmode="decimal"
                title="Token Amount"
                autocomplete="off"
                autocorrect="off"
                type="text"
                pattern="^[0-9]*[.,]?[0-9]*$"
                placeholder="0.0"
                minlength="1"
                maxlength="79"
                spellcheck="false"
                [(ngModel)]="inputValue"
                (ngModelChange)="changeInputTradePrice($event)"
              />
            </div>
            <div class="uni-ic__swap-content-balance-and-price-container">
              <div class="uni-ic__swap-content-balance-and-price">
                <div
                  class="uni-ic__swap-content-balance-and-price__balance"
                  style="height: 17px"
                >
                  <div
                    class="uni-ic__swap-content-balance-and-price__balance-text"
                    style="display: inline; cursor: pointer"
                  >
                    Balance:
                    {{
                      uniswapDappSharedLogic.toPrecision(
                        uniswapDappSharedLogic.inputToken.balance
                      )
                    }}
                    {{ uniswapDappSharedLogic.inputToken.symbol }}
                  </div>
                </div>
                <div
                  class="uni-ic__swap-content-balance-and-price__price"
                  *ngIf="uniswapDappSharedLogic.inputToken!.fiatPrice"
                >
                  ~$
                  <span
                    class="uni-ic__swap-content-balance-and-price__price-text"
                    >{{
                      uniswapDappSharedLogic.toPrecision(
                        uniswapDappSharedLogic.inputToken!.fiatPrice.times(
                          inputValue
                        )
                      )
                    }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="uni-ic__swap-divider uni-ic__theme-panel"
          (click)="switchSwap()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <polyline points="19 12 12 19 5 12"></polyline>
          </svg>
        </div>

        <!-- <div class="uni-ic__swap-divider-container">
        <div class="uni-ic__swap-divider" style="padding: 0px 1rem">
          <div class="uni-ic__swap-divider-action" (click)="switchSwap()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <polyline points="19 12 12 19 5 12"></polyline>
            </svg>
          </div>
        </div>
      </div> -->

        <div class="uni-ic__swap-output-container">
          <div class="uni-ic__swap-output-content uni-ic__theme-panel">
            <div class="uni-ic__swap-output-content-main">
              <button
                class="
                  uni-ic__swap-output-content-main-select uni-ic__theme-panel
                "
                (click)="openTokenSelectorTo()"
              >
                <span
                  class="uni-ic__swap-output-content-main-select-content"
                  *ngIf="!uniswapDappSharedLogic.outputToken"
                  ><span
                    class="
                      uni-ic__swap-output-content-main-select-content-title
                    "
                    >Select a token</span
                  ><svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    class="uni-ic__swap-output-content-main-select-content-icon"
                  >
                    <path
                      d="M0.97168 1L6.20532 6L11.439 1"
                      stroke="#AEAEAE"
                    ></path>
                  </svg>
                </span>

                <span
                  class="uni-ic__swap-input-content-main-from-currency"
                  *ngIf="uniswapDappSharedLogic.outputToken"
                  ><img
                    [src]="
                      uniswapDappSharedLogic.getTokenImageUrl(
                        uniswapDappSharedLogic.outputToken.contractAddress
                      )
                    "
                    onError="this.src='assets/unknown.svg'"
                    class="uni-ic__swap-input-content-main-from-currency-icon"
                  /><span
                    class="uni-ic__swap-input-content-main-from-currency-symbol"
                    >{{ uniswapDappSharedLogic.outputToken.symbol }}</span
                  ><svg
                    width="12"
                    height="7"
                    viewBox="0 0 12 7"
                    fill="none"
                    class="uni-ic__swap-input-content-main-from-currency-choose"
                  >
                    <path
                      d="M0.97168 1L6.20532 6L11.439 1"
                      stroke="#AEAEAE"
                    ></path>
                  </svg>
                </span>
              </button>
              <input
                class="
                  uni-ic__swap-output-content-main-from uni-ic__theme-panel
                "
                inputmode="decimal"
                title="Token Amount"
                autocomplete="off"
                autocorrect="off"
                type="text"
                pattern="^[0-9]*[.,]?[0-9]*$"
                placeholder="0.0"
                minlength="1"
                maxlength="79"
                spellcheck="false"
                [(ngModel)]="outputValue"
                (ngModelChange)="changeOutputTradePrice($event)"
              />
            </div>
            <div
              class="uni-ic__swap-content-balance-and-price-container"
              *ngIf="uniswapDappSharedLogic.outputToken"
            >
              <div class="uni-ic__swap-content-balance-and-price">
                <div
                  class="uni-ic__swap-content-balance-and-price__balance"
                  style="height: 17px"
                >
                  <div
                    class="uni-ic__swap-content-balance-and-price__balance-text"
                    style="display: inline; cursor: pointer"
                  >
                    Balance:
                    {{
                      uniswapDappSharedLogic.toPrecision(
                        uniswapDappSharedLogic.outputToken!.balance
                      )
                    }}
                    {{ uniswapDappSharedLogic.outputToken!.symbol }}
                  </div>
                </div>
                <div
                  class="uni-ic__swap-content-balance-and-price__price"
                  *ngIf="uniswapDappSharedLogic.outputToken!.fiatPrice"
                >
                  ~$
                  <span
                    class="uni-ic__swap-content-balance-and-price__price-text"
                    >{{
                      uniswapDappSharedLogic.toPrecision(
                        uniswapDappSharedLogic.outputToken!.fiatPrice.times(
                          outputValue
                        )
                      )
                    }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="uni-ic__swap-quote"
        *ngIf="uniswapDappSharedLogic.tradeContext"
      >
        <div class="uni-ic__swap-quote-container">
          <div class="uni-ic__swap-quote-price">
            <div
              font-size="14px"
              color="text"
              class="uni-ic__swap-quote-price-text"
              style="padding: 0.1rem 0.5rem 0.1rem 0.35rem"
            >
              Best rate on
              {{ uniswapDappSharedLogic.tradeContext.uniswapVersion }}
            </div>
            <div
              font-size="14px"
              color="text"
              class="uni-ic__swap-quote-price-text"
              style="
                justify-content: center;
                align-items: center;
                display: flex;
              "
            >
              1
              {{ uniswapDappSharedLogic.tradeContext.fromToken.symbol }} =
              {{ uniswapDappSharedLogic.workOutOneEqualTo() }}
              {{ uniswapDappSharedLogic.tradeContext.toToken.symbol }}
              <div class="uni-ic__swap-quote-price-text-info">
                <div
                  style="
                    display: inline-block;
                    line-height: 0;
                    padding: 0.25rem;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="sc-gHboQg lftHvR"
                  >
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="12" y1="16" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                  </svg>
                </div>

                <div
                  class="uni-ic__tooltip-wrapper"
                  data-popper-reference-hidden="false"
                  data-popper-escaped="false"
                  data-popper-placement="left"
                  style="
                    position: fixed;
                    inset: 0px 0px auto auto;
                    transform: translate(-1480px, 253px);
                  "
                >
                  <div class="uni-ic__tooltip-container">
                    <div class="uni-ic__tooltip">
                      <div class="uni-ic__tooltip__item">
                        <div class="uni-ic__tooltip__item__title">
                          <div class="uni-ic__tooltip__item__title__content">
                            Liquidity Provider Fee
                          </div>
                        </div>
                        <div class="uni-ic__tooltip__item__value">
                          {{
                            uniswapDappSharedLogic.tradeContext
                              .liquidityProviderFee
                          }}
                          {{
                            uniswapDappSharedLogic.tradeContext.fromToken.symbol
                          }}
                        </div>
                      </div>
                      <div class="uni-ic__tooltip__item">
                        <div class="uni-ic__tooltip__item__title">
                          <div class="uni-ic__tooltip__item__title__content">
                            Route
                          </div>
                        </div>
                        <div class="uni-ic__tooltip__item__value">
                          {{ uniswapDappSharedLogic.tradeContext.routeText }}
                        </div>
                      </div>
                      <div
                        class="uni-ic__tooltip__item"
                        *ngIf="
                          uniswapDappSharedLogic.tradeContext
                            .minAmountConvertQuote
                        "
                      >
                        <div class="uni-ic__tooltip__item__title">
                          <div class="uni-ic__tooltip__item__title__content">
                            Minimum received
                          </div>
                        </div>
                        <div class="uni-ic__tooltip__item__value">
                          {{
                            uniswapDappSharedLogic.tradeContext
                              .minAmountConvertQuote
                          }}
                          {{
                            uniswapDappSharedLogic.tradeContext.toToken.symbol
                          }}
                        </div>
                      </div>
                      <div
                        class="uni-ic__tooltip__item"
                        *ngIf="uniswapDappSharedLogic.tradeContext.maximumSent"
                      >
                        <div class="uni-ic__tooltip__item__title">
                          <div class="uni-ic__tooltip__item__title__content">
                            Maximum sent
                          </div>
                        </div>
                        <div class="uni-ic__tooltip__item__value">
                          {{ uniswapDappSharedLogic.tradeContext.maximumSent }}
                          {{
                            uniswapDappSharedLogic.tradeContext.fromToken.symbol
                          }}
                        </div>
                      </div>
                      <div class="uni-ic__tooltip__item">
                        <div class="uni-ic__tooltip__item__title">
                          <div class="uni-ic__tooltip__item__title__content">
                            Slippage tolerance
                          </div>
                        </div>
                        <div class="uni-ic__tooltip__item__value">
                          {{
                            uniswapDappSharedLogic.uniswapPairSettings
                              .slippage * 100
                          }}%
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="uni-ic__tooltip__arrow"
                    style="
                      position: absolute;
                      top: 0px;
                      transform: translate(0px, 51px);
                    "
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="uni-ic__swap-quote-price-use-uniswap-version">
          <div
            font-size="14px"
            color="text"
            class="uni-ic__swap-quote-price-text"
            style="padding: 0.1rem 0.5rem 0.1rem 0.35rem"
          >
            Use v2
          </div>
        </div> -->
          <!-- <div class="uni-ic__swap-quote-slippage">
          <div
            font-size="14px"
            color="text"
            class="uni-ic__swap-quote-slippage-text"
          >
            Slippage Tolerance
          </div>
          <div
            font-size="14px"
            color="text"
            class="uni-ic__swap-quote-slippage-text"
          >
            {{ uniswapDappSharedLogic.uniswapPairSettings.slippage * 100 }}%
          </div>
        </div> -->
        </div>
      </div>

      <button
        width="100%"
        class="uni-ic__swap-allow uni-ic__theme-background-button"
        *ngIf="
          uniswapDappSharedLogic.tradeContext?.approvalTransaction &&
          uniswapDappSharedLogic.tradeContext?.fromBalance?.hasEnough
        "
        (click)="approveAllowance()"
      >
        <div class="uni-ic__swap-allow-container">
          <span style="display: flex; align-items: center"
            >Allow the Uniswap Protocol to use your
            {{ uniswapDappSharedLogic.tradeContext!.fromToken.symbol }}</span
          >
          <div class="uni-ic__swap-allow-info">
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="12" cy="12" r="10"></circle>
                <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
              </svg>
            </div>
          </div>
        </div>
      </button>

      <div class="uni-ic__swap-button-container">
        <button
          class="uni-ic__swap-button uni-ic__theme-background-button"
          (click)="uniswapDappSharedLogic.showConfirmSwap()"
          [disabled]="
            outputValue === '0' ||
            uniswapDappSharedLogic.tradeContext?.hasEnoughAllowance === false ||
            uniswapDappSharedLogic.tradeContext?.fromBalance?.hasEnough ===
              false ||
            notEnoughLiquidity
          "
        >
          <div class="uni-ic__swap-button-text">
            <span
              *ngIf="
                outputValue === '0' &&
                uniswapDappSharedLogic.tradeContext?.fromBalance?.hasEnough &&
                !notEnoughLiquidity
              "
              >Enter an amount</span
            >
            <span
              *ngIf="
                outputValue !== '0' &&
                uniswapDappSharedLogic.tradeContext?.fromBalance?.hasEnough &&
                !notEnoughLiquidity
              "
              >Swap</span
            >
            <span
              *ngIf="
                !uniswapDappSharedLogic.tradeContext?.fromBalance?.hasEnough &&
                !notEnoughLiquidity
              "
              >Insufficient
              {{ uniswapDappSharedLogic.tradeContext?.fromToken?.symbol }}
              balance</span
            >

            <span *ngIf="notEnoughLiquidity"
              >Insufficient
              {{ uniswapDappSharedLogic.tradeContext?.toToken?.symbol }}
              liquidity</span
            >
          </div>
        </button>
      </div>
    </div>

    <div class="uni-ic__error" *ngIf="!uniswapDappSharedLogic.supportedNetwork">
      <p>
        <strong
          >Chain id {{ uniswapDappSharedLogic.chainId }} is a unsupported
          network.</strong
        >
      </p>
    </div>
  </div>

  <div
    id="uni-ic__modal-token"
    class="uni-ic__modal"
    *ngIf="uniswapDappSharedLogic.supportedNetwork"
  >
    <div
      class="
        uni-ic__modal__content uni-ic__modal-tokens uni-ic__theme-background
      "
    >
      <span class="uni-ic__modal__close" (click)="hideTokenSelector()"
        >&times;</span
      >
      <p class="uni-ic__modal-tokens-title">Select a token</p>
      <div class="uni-ic__modal-tokens-search">
        <input
          type="text"
          placeholder="Search name or paste address"
          autocomplete="off"
          class="uni-ic__modal-tokens-search__input"
          [ngModel]="searchToken"
          (ngModelChange)="uniswapDappSharedLogic.searchToken($event)"
        />
      </div>

      <div style="flex: 1 1 0%; position: relative">
        <div style="overflow: visible; height: 0px">
          <div
            style="
              position: relative;
              height: 210px;
              width: 100%;
              overflow: auto;
              will-change: transform;
              direction: ltr;
            "
          >
            <div style="height: 100%; width: 100%">
              <div
                *ngFor="
                  let token of uniswapDappSharedLogic.supportedTokenBalances
                "
                (click)="changeSelectToken(token.contractAddress)"
                class="uni-ic__modal-tokens-item-container"
                [ngClass]="{
                  selected:
                    (token.contractAddress ===
                      uniswapDappSharedLogic.inputToken.contractAddress &&
                      uniswapDappSharedLogic.selectorOpenFrom === 'input') ||
                    (token.contractAddress ===
                      uniswapDappSharedLogic.outputToken?.contractAddress &&
                      uniswapDappSharedLogic.selectorOpenFrom === 'output')
                }"
              >
                <div class="uni-ic__modal-tokens-item" *ngIf="token.canShow">
                  <img
                    [src]="
                      uniswapDappSharedLogic.getTokenImageUrl(
                        token.contractAddress
                      )
                    "
                    onError="this.src='assets/unknown.svg'"
                    class="uni-ic__modal-tokens-item-icon"
                  />
                  <div class="uni-ic__modal-tokens-item-content">
                    <div class="uni-ic__modal-tokens-item-content-symbol">
                      {{ token.symbol }}
                    </div>
                    <div class="uni-ic__modal-tokens-item-content-name">
                      {{ token.name }}
                    </div>
                  </div>
                  <span></span>
                  <div
                    class="uni-ic__modal-tokens-item-balance-content"
                    style="justify-self: flex-end"
                  >
                    <div
                      class="uni-ic__modal-tokens-item-balance-content-value"
                    >
                      {{ uniswapDappSharedLogic.toPrecision(token.balance) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="resize-triggers">
          <div class="expand-trigger">
            <div style="width: 419px; height: 211px"></div>
          </div>
          <div class="contract-trigger"></div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="uni-ic__modal-confirm-swap"
    class="uni-ic__modal"
    *ngIf="uniswapDappSharedLogic.supportedNetwork"
  >
    <div
      class="
        uni-ic__modal__content
        uni-ic__modal-confirm-swap
        uni-ic__theme-background
      "
    >
      <span
        class="uni-ic__modal__close"
        (click)="uniswapDappSharedLogic.hideConfirmSwap()"
        >&times;</span
      >
      <p>Confirm swap</p>

      <div
        class="uni-ic__modal-confirm-swap__content"
        *ngIf="uniswapDappSharedLogic.tradeContext"
      >
        <div
          class="
            uni-ic__modal-confirm-swap__input-container uni-ic__theme-panel
          "
        >
          <div class="uni-ic__modal-confirm-swap__input">
            <div class="uni-ic__modal-confirm-swap__input-header">
              <div class="uni-ic__modal-confirm-swap__input-header__text">
                From
              </div>
              <div
                class="
                  uni-ic__modal-confirm-swap__input-header__price-container
                "
                *ngIf="uniswapDappSharedLogic.inputToken!.fiatPrice"
              >
                ~$
                <span class="uni-ic__modal-confirm-swap__input-header__price">{{
                  uniswapDappSharedLogic.toPrecision(
                    uniswapDappSharedLogic.inputToken!.fiatPrice.times(
                      inputValue
                    )
                  )
                }}</span>
              </div>
            </div>
            <div class="uni-ic__modal-confirm-swap__input-main">
              <div class="uni-ic__modal-confirm-swap__input-main__symbol">
                <img
                  [src]="
                    uniswapDappSharedLogic.getTokenImageUrl(
                      uniswapDappSharedLogic.inputToken.contractAddress
                    )
                  "
                  onError="this.src='assets/unknown.svg'"
                  class="uni-ic__modal-confirm-swap__input-main__symbol__image"
                  style="margin-right: 12px"
                />
                <div
                  class="uni-ic__modal-confirm-swap__input-main__symbol__label"
                >
                  {{ uniswapDappSharedLogic.tradeContext.fromToken.symbol }}
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__input-main__price">
                <div class="uni-ic__modal-confirm-swap__input-main__price-text">
                  <span
                    *ngIf="
                      uniswapDappSharedLogic.tradeContext.quoteDirection ===
                      'input'
                    "
                    >{{
                      uniswapDappSharedLogic.tradeContext.baseConvertRequest
                    }}</span
                  >

                  <span
                    *ngIf="
                      uniswapDappSharedLogic.tradeContext.quoteDirection ===
                      'output'
                    "
                    >{{
                      uniswapDappSharedLogic.tradeContext.expectedConvertQuote
                    }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="uni-ic__modal-confirm-swap__divider uni-ic__theme-panel">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#565A69"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <polyline points="19 12 12 19 5 12"></polyline>
          </svg>
        </div>
        <div
          class="
            uni-ic__modal-confirm-swap__output-container uni-ic__theme-panel
          "
          style="margin-bottom: 0.25rem"
        >
          <div class="uni-ic__modal-confirm-swap__output">
            <div class="uni-ic__modal-confirm-swap__output-header">
              <div class="uni-ic__modal-confirm-swap__output-header__text">
                To
              </div>
              <div
                class="
                  uni-ic__modal-confirm-swap__output-header__price-container
                "
                *ngIf="uniswapDappSharedLogic.outputToken?.fiatPrice"
              >
                ~$
                <span
                  class="uni-ic__modal-confirm-swap__output-header__price"
                  >{{
                    uniswapDappSharedLogic.toPrecision(
                      uniswapDappSharedLogic.outputToken!.fiatPrice!.times(
                        outputValue
                      )
                    )
                  }}</span
                >
              </div>
            </div>
            <div class="uni-ic__modal-confirm-swap__output-main">
              <div class="uni-ic__modal-confirm-swap__output-main__symbol">
                <img
                  class="uni-ic__modal-confirm-swap__output-main__symbol__image"
                  [src]="
                    uniswapDappSharedLogic.getTokenImageUrl(
                      uniswapDappSharedLogic.outputToken!.contractAddress
                    )
                  "
                  onError="this.src='assets/unknown.svg'"
                  style="margin-right: 12px"
                />
                <div
                  class="uni-ic__modal-confirm-swap__output-main__symbol__label"
                >
                  {{ uniswapDappSharedLogic.tradeContext.toToken.symbol }}
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__output-main__price">
                <div
                  class="uni-ic__modal-confirm-swap__output-main__price-text"
                >
                  <span
                    *ngIf="
                      uniswapDappSharedLogic.tradeContext.quoteDirection ===
                      'input'
                    "
                    >{{
                      uniswapDappSharedLogic.tradeContext.expectedConvertQuote
                    }}</span
                  >

                  <span
                    *ngIf="
                      uniswapDappSharedLogic.tradeContext.quoteDirection ===
                      'output'
                    "
                    >{{
                      uniswapDappSharedLogic.tradeContext.baseConvertRequest
                    }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="uni-ic__modal-confirm-swap__price"
          style="margin-top: 0.25rem; padding: 0px 1rem"
        >
          <div class="uni-ic__modal-confirm-swap__price__title">Price</div>
          <button
            title="1 DAI = 0.0003956 ETH "
            class="uni-ic__modal-confirm-swap__price__rate-button"
          >
            <div style="align-items: center; display: flex; width: fit-content">
              <div class="uni-ic__modal-confirm-swap__price__rate">
                1
                {{ uniswapDappSharedLogic.tradeContext.fromToken.symbol }} =
                {{ uniswapDappSharedLogic.workOutOneEqualTo() }}
                {{ uniswapDappSharedLogic.tradeContext.toToken.symbol }}
              </div>
            </div>
          </button>
        </div>
        <div
          class="uni-ic__modal-confirm-swap__info-container uni-ic__theme-panel"
          style="padding: 0.75rem; margin-top: 0.5rem"
        >
          <div class="uni-ic__modal-confirm-swap__info">
            <div class="uni-ic__modal-confirm-swap__info__item">
              <div class="uni-ic__modal-confirm-swap__info__item__title">
                <div
                  class="uni-ic__modal-confirm-swap__info__item__title-content"
                >
                  Liquidity Provider Fee
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__info__item__value">
                {{ uniswapDappSharedLogic.tradeContext.liquidityProviderFee }}
                {{ uniswapDappSharedLogic.tradeContext.fromToken.symbol }}
              </div>
            </div>
            <div class="uni-ic__modal-confirm-swap__info__item">
              <div class="uni-ic__modal-confirm-swap__info__item__title">
                <div
                  class="uni-ic__modal-confirm-swap__info__item__title-content"
                >
                  Route
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__info__item__value">
                {{ uniswapDappSharedLogic.tradeContext.routeText }}
              </div>
            </div>
            <!-- <div class="uni-ic__modal-confirm-swap__info__item">
            <div class="uni-ic__modal-confirm-swap__info__item__title">
              <div
                class="uni-ic__modal-confirm-swap__info__item__title-content"
              >
                Price Impact
              </div>
            </div>
            <div class="uni-ic__modal-confirm-swap__info__item__value">
              -0.03%
            </div>
          </div> -->
            <div
              class="uni-ic__modal-confirm-swap__info__item"
              *ngIf="uniswapDappSharedLogic.tradeContext.minAmountConvertQuote"
            >
              <div class="uni-ic__modal-confirm-swap__info__item__title">
                <div
                  class="uni-ic__modal-confirm-swap__info__item__title-content"
                >
                  Minimum received
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__info__item__value">
                {{ uniswapDappSharedLogic.tradeContext.minAmountConvertQuote }}
                {{ uniswapDappSharedLogic.tradeContext.toToken.symbol }}
              </div>
            </div>
            <div
              class="uni-ic__modal-confirm-swap__info__item"
              *ngIf="uniswapDappSharedLogic.tradeContext.maximumSent"
            >
              <div class="uni-ic__modal-confirm-swap__info__item__title">
                <div
                  class="uni-ic__modal-confirm-swap__info__item__title-content"
                >
                  Maximum sent
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__info__item__value">
                {{ uniswapDappSharedLogic.tradeContext.maximumSent }}
                {{ uniswapDappSharedLogic.tradeContext.fromToken.symbol }}
              </div>
            </div>
            <div class="uni-ic__modal-confirm-swap__info__item">
              <div class="uni-ic__modal-confirm-swap__info__item__title">
                <div
                  class="uni-ic__modal-confirm-swap__info__item__title-content"
                >
                  Slippage tolerance
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__info__item__value">
                {{ uniswapDappSharedLogic.uniswapPairSettings.slippage * 100 }}%
              </div>
            </div>
            <div class="uni-ic__modal-confirm-swap__info__item">
              <div class="uni-ic__modal-confirm-swap__info__item__title">
                <div
                  class="uni-ic__modal-confirm-swap__info__item__title-content"
                >
                  Uniswap version
                </div>
              </div>
              <div class="uni-ic__modal-confirm-swap__info__item__value">
                {{ uniswapDappSharedLogic.tradeContext.uniswapVersion }}
              </div>
            </div>
          </div>
        </div>
        <div
          class="uni-ic__modal-confirm-swap__price-updated-container"
          *ngIf="uniswapDappSharedLogic.newPriceTradeContext"
        >
          <div class="uni-ic__modal-confirm-swap__price-updated">
            <div class="uni-ic__modal-confirm-swap__price-updated__text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                style="margin-right: 8px; min-width: 24px"
              >
                <path
                  d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"
                ></path>
                <line x1="12" y1="9" x2="12" y2="13"></line>
                <line x1="12" y1="17" x2="12.01" y2="17"></line>
              </svg>
              <div
                class="uni-ic__modal-confirm-swap__price-updated__text-content"
              >
                Price Updated
              </div>
            </div>
            <button
              class="
                uni-ic__modal-confirm-swap__price-updated__action
                uni-ic__theme-background-button
              "
              (click)="uniswapDappSharedLogic.acceptPriceChange()"
              style="
                padding: 0.5rem;
                width: fit-content;
                font-size: 0.825rem;
                border-radius: 12px;
              "
            >
              Accept
            </button>
          </div>
        </div>
        <div
          class="uni-ic__modal-confirm-swap__output-info-container"
          style="padding: 0.75rem 1rem"
        >
          <div
            class="uni-ic__modal-confirm-swap__output-info"
            style="width: 100%"
          >
            <span
              *ngIf="uniswapDappSharedLogic.tradeContext.minAmountConvertQuote"
            >
              Output is estimated. You will receive at least
              <b
                >{{
                  uniswapDappSharedLogic.tradeContext.minAmountConvertQuote
                }}
                {{ uniswapDappSharedLogic.tradeContext.toToken.symbol }}</b
              >
              or the transaction will revert.
            </span>
            <span *ngIf="uniswapDappSharedLogic.tradeContext.maximumSent">
              Input is estimated. You will sell at most
              <b
                >{{ uniswapDappSharedLogic.tradeContext.maximumSent }}
                {{ uniswapDappSharedLogic.tradeContext.fromToken.symbol }}</b
              >
              or the transaction will revert.
            </span>
          </div>
        </div>
      </div>

      <div class="uni-ic__modal-confirm-swap__action-container">
        <div class="uni-ic__modal-confirm-swap__action">
          <button
            id="confirm-swap-or-send"
            class="
              uni-ic__modal-confirm-swap__action__button
              uni-ic__theme-background-button
            "
            style="margin: 10px 0px 0px"
            [disabled]="uniswapDappSharedLogic.newPriceTradeContext"
            (click)="confirmSwap()"
          >
            <div class="uni-ic__modal-confirm-swap__action__button-text">
              Confirm Swap
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    id="uni-ic__modal-transaction"
    class="uni-ic__modal"
    *ngIf="uniswapDappSharedLogic.supportedNetwork"
  >
    <div
      class="
        uni-ic__modal__content
        uni-ic__modal-transaction
        uni-ic__theme-background
      "
    ></div>
  </div>
</ng-container>
